<h2 class="cFlex">Ingrese Producto</h2>

<form class="cFlex" onsubmit="return addProduct(this)">
    <input type="text" id="title">
    <input type="number" id="price">
    <input type="text" id="tumbnail">
    <input type="submit" value="Enviar">
</form> 