<h2 class="cFlex">Ingrese Usuario</h2>

<form action="/loginReg" method="POST" class="cFlex">
    <input type="text" id="user">
    <!-- <input type="submit" value="Enviar"> -->
    <button>Enviar</button>
</form> 