<h2>Mi App Chat</h2>

<form onsubmit="return addMessage(this)">
    <input type="text" id="username" placeholder="Tu nombre">
    <input type="text" id="text" placeholder="Cuentanos algo...">
    <input type="submit" value="Enviar"></input>
</form>


<div id="messages"></div>