<h2>Ingrese Producto</h2>
<form action="/api/productos" method="POST">
    Nombre: <input type="text" name="title">
    Precio: <input type="number" name="price">
    Url-Img: <input type="text" name="tumbnail">
    <button>Enviar</button>
</form>