
<% if(datos.length > 0){ %>
    <div class="histContainer cFlex">
        <div class="nombreContainer cFlex">
            <% for (const persona of datos) {%>
                <div class="producto cFlex">
                    <h3><%=persona.title%></h3>
                    <h3>$<%=persona.price%></h3>
                    <div class="fotoContainer cFlex">
                        <div class="foto cFlex">
                            <img src="<%= persona.tumbnail %>" alt="">
                        </div>
                    </div>
                </div>
            <%};%>
        </div>
    </div>
<% } else{ %>
    <h3>no se encontraron datos</h1>
<% } %>