<h2>Ingrese Producto</h2>

<form onsubmit="return addProduct(this)">
    <input type="text" id="title">
    <input type="number" id="price">
    <input type="text" id="tumbnail">
    <input type="submit" value="Enviar"></input>
</form> 