* {
    padding: 0;
    margin: 0;
    font-size: 12px;
}

body {
    background-color: rgb(7, 19, 43);
}

.cFlex {
    display: flex;
}

.regContainer {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-size: 4rem;
}

.text {
    color: white;
    font-size: 3rem;
}

.formContainer {
    width: 40vw;
    height: 50vh;
    background-color: rgb(38, 39, 73);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
}

.formContainer h2 {
    width: 90%;
    justify-content: flex-start;
}

.containerForm {
    width: 90%;
    justify-content: flex-start;
    align-items: center;
}